<%- include ('./partials/header') %>

<div class="container">
    <% if(alerts[0]){ %>
        <% for(var i=0; i<alerts.length; i++){ %>
            <% if(alerts[i].severity === "Warning"){ %>
                <div class="card text-white bg-danger mb-3" style="width: 70rem;">
                    <div class="card-header"><%= alerts[i].severity %></div>
                    <div class="card-body">
                        <h5 class="card-title"><%= alerts[i].title %></h5>
                        <p class="card-text"><%= alerts[i].description %></p>
                        <ul class="card-text">Regions Affected: 
                            <% for(var j=0; j<alerts[i].regions.length; j++){ %>
                                <li class=card-text><%= alerts[i].regions[j] %></li>
                            <% } %>
                        </ul>
                        <a href="https://edition.cnn.com/weather" class="btn btn-primary" style="float: right;">See the full article</a>
                    </div>
                </div>
            <% } %>
            <% if(alerts[i].severity === "Watch"){ %>
                <div class="card text-white bg-warning mb-3" style="width: 70rem;">
                    <div class="card-header"><%= alerts[i].severity %></div>
                    <div class="card-body">
                        <h5 class="card-title"><%= alerts[i].title %></h5>
                        <p class="card-text"><%= alerts[i].description %></p>
                        <ul class="card-text">Regions Affected: 
                            <% for(var j=0; j<alerts[i].regions.length; j++){ %>
                                <li class=card-text><%= alerts[i].regions[j] %></li>
                            <% } %>
                        </ul>
                        <a href="https://edition.cnn.com/weather" class="btn btn-primary">See the full article</a>
                    </div>
                </div>
            <% } %>
            <% if(alerts[i].severity === "Advisory"){ %>
                <div class="card text-white bg-secondary mb-3" style="width: 70rem;">
                    <div class="card-header"><%= alerts[i].severity %></div>
                    <div class="card-body">
                        <h5 class="card-title"><%= alerts[i].title %></h5>
                        <p class="card-text"><%= alerts[i].description %></p>
                        <ul class="card-text">Regions Affected: 
                            <% for(var j=0; j<alerts[i].regions.length; j++){ %>
                                <li class=card-text><%= alerts[i].regions[j] %></li>
                            <% } %>
                        </ul>
                        <a href="https://edition.cnn.com/weather" class="btn btn-primary">See the full article</a>
                    </div>
                </div>
            <% } %>
        <% } %>
    <% } %>
</div>

<%- include ('./partials/footer') %>