<%-include ('./partials/header.ejs')%>

    
    <h2 class="ml-3 mb-0" style="font-size: 1.2rem;"><%= dcity[0].place[0].toUpperCase()+dcity[0].place.slice(1) %>, <%= dcity[0].date %> <%= dcity[0].time %></h2>
    <hr class="new1" >
    <img class="icons" style="float: left; margin-right: 10px; width: auto;" src="<%= dcity.dcity1.icon_url %>" alt="">

    <h3 class="ml-3 mr-0 cond" style="font-size: 1.5rem; display: table;"><%= dcity[0].cond[0].toUpperCase()+dcity[0]cond.slice(1) %></h3>


<div class="forecast-table">
    <div class="container">
        <div class="forecast-container">

            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">Temperature</div>
                </div>
                <div class="forecast-content pt-0">
                    <div class="degree pt-3">	
                        <div class="forecast-icon">
                            <h2 style="font-size: 50px;"><i class="far fa-sun"></i></h2>
                        </div>
                        <div class="num mb-2"><%= Math.round(dcity[0].temp * 100) / 100 %><sup>o</sup>C</div>
                        <div class="row">
                            <div class="col-6">
                                <p class="mb-0" style="font-size: 1rem;">Max: </p>
                            </div>
                            <div class="col-6">
                                <p class="mb-0" style="font-size: 1rem;"><%= Math.round(dcity[0].temp_max * 100) / 100 %><sup>o</sup>C</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="mb-0" style="font-size: 1rem;">Min: </p>
                            </div>
                            <div class="col-6">
                                <p class="mb-0" style="font-size: 1rem;"><%= Math.round(dcity[0].temp_min * 100) / 100 %><sup>o</sup>C</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="mb-0" style="font-size: 1rem;">Feels:</p>
                            </div>
                            <div class="col-6">
                                <p class="mb-0" style="font-size: 1rem;"><%= Math.round(dcity[0].temp_feels * 100) / 100 %><sup>o</sup>C</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">Humidity</div>
                </div>
                <div class="forecast-content pt-0">
                    <div class="degree pt-3">	
                        <div class="forecast-icon">
                            <h2 style="font-size: 50px;"><i class="fas fa-umbrella"></i></h2>
                        </div>
                        <div class="num"><%= dcity[0].humidity %> %</div>
                    </div>
                </div>
            </div>

            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">Wind</div>
                </div>
                <div class="forecast-content pt-0">
                    <div class="degree pt-3">	
                        <div class="forecast-icon">
                            <h2 style="font-size: 50px;"><i class="fas fa-wind"></i></h2>
                        </div>
                        <div class="num pb-4"><%= dcity[0].wind_speed %>m/s</div>
                        <p style="font-size: 1rem;">Direction: <%= dcity[0].wind_deg %><sup>o</sup></p>
                    </div>
                </div>
            </div>

            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">Pressure</div>
                </div>
                <div class="forecast-content pt-0">
                    <div class="degree pt-3">
                        <div class="forecast-icon">
                            <h2 style="font-size: 50px;"><i class="fab fa-wpressr"></i></h2>
                        </div>	
                        <div class="num"><%= dcity[0].pressure %>hPa</div>
                    </div>
                </div>
            </div>

            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">Clouds</div>
                </div>
                <div class="forecast-content pt-0">
                    <div class="degree pt-3">	
                        <div class="forecast-icon">
                            <h2 style="font-size: 50px;"><i class="fas fa-cloud"></i></h2>
                        </div>
                        <div class="num"><%= dcity[0].clouds %>%</div>
                    </div>
                </div>
            </div>

            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">Sun</div>
                </div>
                <div class="forecast-content pt-0">
                    <div class="degree pt-3">	
                        <div class="forecast-icon">
                            <h2 style="font-size: 50px;"><i class="fas fa-cloud"></i></h2>
                        </div>
                        <div class="num"><%= dcity[0].sunrise %> A.M.</div>
                        <div class="num"><%= dcity[0].sunset %> P.M.</div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>






<%-include ('./partials/footer.ejs')%>