<%- include ('./partials/header') %>

    <div class="container">
        
        <h2 class="ml-3 mb-0" style="font-size: 1.2rem;"><%= place[0].toUpperCase()+place.slice(1) %>, <%= day[0].dt %> </h2>
        <hr class="new1" >
        
        <div class="forecast-table">
            <div class="container">
                <div class="forecast-container">

                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Time</div>
                        </div>
                        <div class="forecast-content-day-forecast pt-0">

                            <% for(var i=0; i<day.length; i++) { %>
                                <div class="time">
                                    <div class="degree pt-3">	
                                        <div class="forecast-icon">
                                            <img class="icons" src="<%= day[i].icon_url %>" alt="">
                                        </div>
                                        <div class="num"><%= day[i].time %></div>
                                        <div class="num pb-3"><%= day[i].weather[0].main %></div>
                                    </div>
                                    <div class="bg bg-primary" style="height: 1.5rem; width:100%;"></div>
                                </div>
                            <% } %>

                        </div>
                    </div>

                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Temperature</div>
                        </div>
                        <div class="forecast-content-day-forecast pt-0">

                            <% for(var i=0; i<day.length; i++) { %>
                                <div class="time">
                                    <div class="degree" style="padding-top: 2.5rem;">	
                                        <div class="forecast-icon">
                                            <h2 style="font-size: 50px;"><i class="far fa-sun"></i></h2>
                                        </div>
                                        <div class="num mb-2"><%= Math.round(day[i].main.temp * 100) / 100 %><sup>o</sup>C</div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;">Max: </p>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;"><%= Math.round(day[i].main.temp_max * 100) / 100 %><sup>o</sup>C</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;">Min: </p>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;"><%= Math.round(day[i].main.temp_min * 100) / 100 %><sup>o</sup>C</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;">Feels:</p>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;"><%= Math.round(day[i].main.feels_like * 100) / 100 %><sup>o</sup>C</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg bg-primary" style="height: 1.5rem; width:100%; margin-top: 1.35rem;"></div>
                                </div>
                            <% } %> 
                        </div>
                    </div>

                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Pressure</div>
                        </div>

                        <div class="forecast-content-day-forecast pt-0">
                            <% for(var i=0; i<day.length; i++) { %>
                                <div class="time">
                                    <div class="degree pt-5">	
                                        <div class="forecast-icon">
                                            <h2 style="font-size: 50px;"><i class="fab fa-wpressr"></i></h2>
                                        </div>
                                        <div class="num"><%= day[i].main.pressure%>hPa</div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;">Sea: </p>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;"><%= day[i].main.sea_level %>hPa</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;">Ground: </p>
                                            </div>
                                            <div class="col-6">
                                                <p class="mb-0" style="font-size: 1rem;"><%= day[i].main.grnd_level %>hPa</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg bg-primary" style="height: 1.5rem; width:100%; margin-top: 2.85rem;"></div>
                                </div>
                            <% } %>
                            
                        </div>
                    </div>
    
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Wind</div>
                        </div>
                        <div class="forecast-content-day-forecast pt-0">

                            <% for(var i=0; i<day.length; i++) { %>
                                <div class="time">
                                    <div class="degree pt-5">	
                                        <div class="forecast-icon">
                                            <h2 style="font-size: 50px;"><i class="fas fa-wind"></i></h2>
                                        </div>
                                        <div class="num pb-4"><%= day[i].wind.speed %>m/s</div>
                                        <p style="font-size: 1rem;">Direction: <%= day[i].wind.deg %><sup>o</sup></p>
                                    </div>
                                    <div class="bg bg-primary" style="height: 1.5rem; width:100%; margin-top: 2.85rem;"></div>
                                </div>
                            <% } %>

                        </div>
                    </div>
    
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Humidity</div>
                        </div>
                        <div class="forecast-content-day-forecast pt-0">
                            <% for(var i=0; i<day.length; i++) { %>
                                <div class="time">
                                    <div class="degree" style="padding-top: 4rem;">
                                        <div class="forecast-icon">
                                            <h2 style="font-size: 50px;"><i class="fas fa-umbrella"></i></h2>
                                        </div>	
                                        <div class="num"><%= day[i].main.humidity %>%</div>
                                    </div>
                                    <div class="bg bg-primary" style="height: 1.5rem; width:100%; margin-top: 4.9rem;"></div>
                                </div>
                            <% } %>
                        </div>
                    </div>
    
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">Clouds</div>
                        </div>
                        <div class="forecast-content-day-forecast pt-0">
                            <% for(var i=0; i<day.length; i++) { %>
                                <div class="time">
                                    <div class="degree" style="padding-top: 4rem;">	
                                        <div class="forecast-icon">
                                            <h2 style="font-size: 50px;"><i class="fas fa-cloud"></i></h2>
                                        </div>
                                        <div class="num"><%= day[i].clouds.all %>%</div>
                                    </div>
                                    <div class="bg bg-primary" style="height: 1.5rem; width:100%; margin-top: 4.9rem;"></div>
                                </div>
                            <% } %>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

<%- include ('./partials/footer') %>