<%- include ('./partials/header') %>

<script>
    $(document).alert();
    $(".alert").alert('close');
</script>

<div class="container">

    <% if(wind_speed*18/5 > 64){ %>
        <div class="alert alert-warning alert-dismissible fade show alerts" role="alert">
            The wind speed is very high: <%= wind_speed %>m/s
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %>

    <a href="/alerts">
        <% if(alerts[0]){ %>
            <% for(var i=0; i<num_alerts; i++){ %>
                <div class="alert alert-danger alert-dismissible fade show alerts" role="alert">
                    <%= alerts[i].title %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
        <% } %>
    </a>

    <div class="container">
        <form action="/day_weather" method="GET">
            <button type="submit" value="submit" class="btnn mt-1"><i class="fas fa-search"></i></button>
            <input class="mb-4" type="search" id="sear" name="place" placeholder="Search for a city">
        </form>
    </div>

    <p class="gif_cond" style="display: none;"><%= gif_cond %></p>
    
    <h2 class="ml-3 mb-0" style="font-size: 1.2rem;"><%= place[0].toUpperCase()+place.slice(1) %>, <%= date %> <%= time %></h2>
    <hr class="new1" >
    <h3 class="ml-3 mr-0 cond" style="font-size: 1.5rem; display: table;"><%= cond[0].toUpperCase()+cond.slice(1) %></h3>
    <img class="icons" style="float: left; margin-right: 600px; width: auto;" src="<%= icon_url %>" alt="">
    
    <div class="forecast-table">
        <div class="container">
            <div class="forecast-container">

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">Temperature</div>
                    </div>
                    <div class="forecast-content pt-0">
                        <div class="degree pt-3">	
                            <div class="forecast-icon">
                                <h2 style="font-size: 50px;"><i class="far fa-sun"></i></h2>
                            </div>
                            <div class="num mb-2"><%= Math.round(temp * 100) / 100 %><sup>o</sup>C</div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-0" style="font-size: 1rem;">Max: </p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0" style="font-size: 1rem;"><%= Math.round(temp_max * 100) / 100 %><sup>o</sup>C</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-0" style="font-size: 1rem;">Min: </p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0" style="font-size: 1rem;"><%= Math.round(temp_min * 100) / 100 %><sup>o</sup>C</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="mb-0" style="font-size: 1rem;">Feels:</p>
                                </div>
                                <div class="col-6">
                                    <p class="mb-0" style="font-size: 1rem;"><%= Math.round(temp_feels * 100) / 100 %><sup>o</sup>C</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">Humidity</div>
                    </div>
                    <div class="forecast-content pt-0">
                        <div class="degree pt-3">	
                            <div class="forecast-icon">
                                <h2 style="font-size: 50px;"><i class="fas fa-umbrella"></i></h2>
                            </div>
                            <div class="num"><%= humidity %>%</div>
                        </div>
                    </div>
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">Wind</div>
                    </div>
                    <div class="forecast-content pt-0">
                        <div class="degree pt-3">	
                            <div class="forecast-icon">
                                <h2 style="font-size: 50px;"><i class="fas fa-wind"></i></h2>
                            </div>
                            <div class="num pb-4"><%= wind_speed %>m/s</div>
                            <p style="font-size: 1rem;">Direction: <%= wind_deg %><sup>o</sup></p>
                        </div>
                    </div>
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">Pressure</div>
                    </div>
                    <div class="forecast-content pt-0">
                        <div class="degree pt-3">
                            <div class="forecast-icon">
                                <h2 style="font-size: 50px;"><i class="fab fa-wpressr"></i></h2>
                            </div>	
                            <div class="num"><%= pressure %>hPa</div>
                        </div>
                    </div>
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">Clouds</div>
                    </div>
                    <div class="forecast-content pt-0">
                        <div class="degree pt-3">	
                            <div class="forecast-icon">
                                <h2 style="font-size: 50px;"><i class="fas fa-cloud"></i></h2>
                            </div>
                            <div class="num"><%= clouds %>%</div>
                        </div>
                    </div>
                </div>

                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">Sun</div>
                    </div>
                    <div class="forecast-content pt-0">
                        <div class="degree pt-3">	
                            <div class="forecast-icon">
                                <h2 style="font-size: 50px;"><i class="fas fa-cloud"></i></h2>
                            </div>
                            <div class="num"><%= sunrise %> A.M.</div>
                            <div class="num"><%= sunset %> P.M.</div>
                        </div>
                    </div>
                </div>

                <% if(uv){ %>
                    <div class="forecast">
                        <div class="forecast-header">
                            <div class="day">UV Index</div>
                        </div>
                        <div class="forecast-content pt-0">
                            <div class="degree pt-3">	
                                <div class="forecast-icon">
                                    <img src="https://image.flaticon.com/icons/svg/1808/1808675.svg" class="uvIcon pt-1" alt="">
                                </div>
                                <div class="num pt-2"><%= uv %></div>
                            </div>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
    </div>
</div>

<script>
    if( cond == "Clear" ){
        $(".gif").css("background-image", "url('https://i2.wp.com/css-tricks.com/wp-content/uploads/2012/10/animated-rain.gif')");
        console.log("W");
    }
</script>
<%- include ('./partials/footer') %>