<%- include ('./partials/header') %>

<script>
    $(document).alert();
    $(".alert").alert('close');
</script>

    <div class="container">
        <a href="/alerts">
            <% if(alerts[0]){ %>
                <% for(var i=0; i<num_alerts; i++){ %>
                    <div class="alert alert-warning alert-dismissible fade show alerts" role="alert">
                        <%= alerts[i].title %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                <% } %>
            <% } %>
        </a>
    </div>
   
    <div class="container">
        <form action="/index", method="GET">
            <button type="submit" value="submit" class="btnn pt-1"><i class="fas fa-search"></i></button>
            <input class="mb-2" type="search" id="sear" name="place" placeholder="Search for a city">
        </form>
    </div>

    
    <div class="forecast-table">
        <div class="container">
            <div class="forecast-container">
                <div class="today forecast">

                    <a href="/day_forecast/day1">
                        <div class="forecast-header">
                            <div class="day"><%= day1[0].day %></div>
                            <div class="date"><%= day1[0].dt %></div>
                        </div>
                    </a>
                     
                    <div class="forecast-content pt-3">
                        <div class="location"><a href="/cities"><%= place[0].toUpperCase()+place.slice(1) %></a></div>
                        <% for(var i=0; i<count_day1; i++){ %>

                            <div class="bg bg-success text-center" style="height: 1.5rem; font-size: 1.2rem; font-weight: 500;"><%= day1[i].time %></div>
                            <a href="/day_weather">
                                <div class="degree">
                                    <div class="num"><%= Math.round(day1[i].main.temp * 10) / 10 %><sup>o</sup>C</div>	
                                    <div class="forecast-icon">
                                          
                                            <img class="icons" src="<%= day1[i].icon_url %>" alt="">                        
                                        
                                    </div>
                                </div>
                            </a>
                            <div class="mb-3">
                                <span><i class="fas fa-umbrella mr-2"></i><%= day1[i].main.humidity %>%</span>
                                <span><i class="fas fa-wind mr-2"></i><%= day1[i].wind.speed %>m/s</span>
                                <span><i class="fas fa-compass mr-2"></i><%= day1[i].wind.deg %></span>
                            </div>
                            
                        <% } %>

                    </div>
                </div>

                

                <div class="forecast">
                    <a href="/day_forecast/day2">
                        <div class="forecast-header">
                            <div class="day"><%= day2[0].day %>, <%= day2[0].dt %></div>
                        </div>
                    </a>

                    <% for(var i=0; i<8; i++ ){ %>

                        <div class="bg bg-primary text-center" style="height: 1.5rem; font-size: 1.2rem; font-weight: 500;"></div>
                        <img class="icons" src="<%= day2[i].icon_url %>" alt="">
                        <div class="forecast-content">
                            <div class="degree"><%= day2[i].main.temp %><sup>o</sup>C</div>
                            <small>Min: <%= day2[i].main.temp_min %><sup>o</sup>C</small>
                            <small style="font-size: .9rem;" class="mar">Humidity: <%= day2[i].main.humidity %>%</small>
                        </div>

                    <% } %>
                </div>

                <div class="forecast">
                    <a href="/day_forecast/day3">
                        <div class="forecast-header">
                            <div class="day"><%= day3[0].day %>, <%= day3[0].dt %></div>
                        </div> 
                    </a>
                    <% for(var i=0; i<8; i++ ){ %>

                        <div class="bg bg-primary text-center" style="height: 1.5rem; font-size: 1.2rem; font-weight: 500;"><%= day3[i].time %></div>
                        <img class="icons" src="<%= day3[i].icon_url %>" alt="">
                        <div class="forecast-content">
                            <div class="degree"><%= day3[i].main.temp %><sup>o</sup>C</div>
                            <small>Min: <%= day3[i].main.temp_min %><sup>o</sup>C</small>
                            <small style="font-size: .9rem;">Humidity: <%= day3[i].main.humidity %>%</small>
                        </div>

                    <% } %>
                </div>

                <div class="forecast">
                    <a href="/day_forecast/day4">
                        <div class="forecast-header">
                            <div class="day"><%= day4[0].day %>, <%= day4[0].dt %></div>
                        </div> 
                    </a>
                    <% for(var i=0; i<8; i++ ){ %>

                        <div class="bg bg-primary text-center" style="height: 1.5rem; font-size: 1.2rem; font-weight: 500;"></div>
                        <img class="icons" src="<%= day4[i].icon_url %>" alt="">
                        <div class="forecast-content">
                            <div class="degree"><%= day4[i].main.temp %><sup>o</sup>C</div>
                            <small>Min: <%= day4[i].main.temp_min %><sup>o</sup>C</small>
                            <small style="font-size: .9rem;">Humidity: <%= day4[i].main.humidity %>%</small>
                        </div>

                    <% } %>
                </div>

                <div class="forecast">
                    <a href="/day_forecast/day5">
                        <div class="forecast-header">
                            <div class="day"><%= day5[0].day %>, <%= day5[0].dt %></div>
                        </div> 
                    </a> 
                    <% for(var i=0; i<8; i++ ){ %>

                        <div class="bg bg-primary text-center" style="height: 1.5rem; font-size: 1.2rem; font-weight: 500;"></div>
                        <img class="icons" src="<%= day5[i].icon_url %>" alt="">
                        <div class="forecast-content">
                            <div class="degree"><%= day5[i].main.temp %><sup>o</sup>C</div>
                            <small>Min: <%= day5[i].main.temp_min %><sup>o</sup>C</small>
                            <small style="font-size: .9rem;">Humidity: <%= day5[i].main.humidity %>%</small>
                        </div>

                    <% } %>
                </div>


                <% if (day6[0]) { %>
                    <div class="forecast">
                        <a href="/day_forecast/day6">
                            <div class="forecast-header">
                                <div class="day"><%= day6[0].day %>, <%= day6[0].dt %></div>
                            </div> 
                        </a>
                        <% for(var i=0; i<count_day6; i++ ){ %>

                            <div class="bg bg-success text-center" style="height: 1.5rem; font-size: 1.2rem; font-weight: 500;"><%= day6[i].time %></div>
                            <img class="icons" src="<%= day6[i].icon_url %>" alt="">
                            <div class="forecast-content">
                                <div class="degree"><%= day6[i].main.temp %><sup>o</sup>C</div>
                                <small>Min: <%= day6[i].main.temp_min %><sup>o</sup>C</small>
                                <small style="font-size: .9rem;">Humidity: <%= day6[i].main.humidity %>%</small>
                            </div>

                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <ul class="hid">
        <% for(var i=0; i<chart_temp.length; i++){ %>
            <li class="<%= i %>"><%= chart_temp[i] %></li>
            <li class="<%= i+100 %>"><%= days_chart[i] %></li>
        <% } %>
    </ul>

    <canvas id="chart" width="50" height="20"></canvas>

		
<%- include ('./partials/footer') %>
