<%- include ('./partials/header2') %>
<style>

  body {
    padding: 0rem;
    color: whitesmoke;
  }
  #iv{
      width:1000px;
      height: 620px;
      margin-bottom: 20px;
      
  }
  .card-img {
      
      background-repeat: no-repeat;
    
    background-size: cover;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin:1px;
  }
  
  .card-title {
    margin-bottom: 0.3rem;
  }
  
  .cat {
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .fa-users {
    margin-left: 1rem;
  }
  #bcard{
      position: relative;
      max-height: 100px;
      font-size: inherit;
      
  }
  .card-footer {
    font-size: 0.8rem;
  }
  .mn {
        margin: auto;
    }
  </style>

<div class="container">
    <% for(i=0;i < posts.length ;i++){ %>
    <div class="row">
      
        <div class="card my-5 bg-secondary mn" id="iv">
          
          <img class="card-img mx-0 my-0" style="width: 998px; height: 250px;" src="<%=posts[i].image %>" alt="Bologna">
          <div class="card-img-overlay" style="height: 5px;width: 10px;">
            <a href="#" class="btn btn-light btn-sm"><%=posts[i].place %></a>
          </div>
          
          <div class="card-body" id="bcard">
            <h4 class="card-title"><%=posts[i].title %></h4>
            <small class="text-muted cat">
                <i class="fas fa-users text-info mt-3" style=" font-size: 15px;"></i> <div style="color: whitesmoke; display: inline; font-size: 15px;" class="mt-3"><%= posts[i].author %></div>
            </small>
            <p class="card-text mt-2"><%=posts[i].description %></p>
               
            <div class="views mt-3">Created: <%=posts[i].created.toDateString() %></div>
       
          </div>
        </div>

    </div>
    <% } %>
</div>
<%- include ('./partials/footer') %>